name: Build Docker images (scheduled)
on:
  workflow_dispatch: {}
concurrency:
  group: docker-image-builds
  cancel-in-progress: false
permissions: {}
env:
  CI_SLACK_CHANNEL: ${{ secrets.CI_DOCKER_CHANNEL }}
jobs:
  latest-cpu:
    name: Latest Peft CPU [dev]
    runs-on:
      group: aws-general-8-plus
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - name: Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and Push CPU
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
      with:
        context: ./docker/peft-cpu
        push: true
        tags: huggingface/peft-cpu
    - name: Post to Slack
      if: always()
      uses: huggingface/hf-workflows/.github/actions/post-slack@3f88d63d3761558a32e8e46fc2a8536e04bb2aea
      with:
        slack_channel: ${{ env.CI_SLACK_CHANNEL }}
        title: "\U0001F917 Results of the PEFT-CPU docker build"
        status: ${{ job.status }}
        slack_token: ${{ secrets.SLACK_CIFEEDBACK_BOT_TOKEN }}
  latest-cuda:
    name: Latest Peft GPU [dev]
    runs-on:
      group: aws-general-8-plus
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - name: Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and Push GPU
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
      with:
        context: ./docker/peft-gpu
        push: true
        tags: huggingface/peft-gpu
    - name: Post to Slack
      if: always()
      uses: huggingface/hf-workflows/.github/actions/post-slack@3f88d63d3761558a32e8e46fc2a8536e04bb2aea
      with:
        slack_channel: ${{ env.CI_SLACK_CHANNEL }}
        title: "\U0001F917 Results of the PEFT-GPU docker build"
        status: ${{ job.status }}
        slack_token: ${{ secrets.SLACK_CIFEEDBACK_BOT_TOKEN }}
