name: Deploy "method_comparison" Gradio to Spaces
on:
  workflow_dispatch: {}
permissions: {}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Authenticate via ~/.netrc
      env:
        HF_TOKEN: ${{ secrets.PEFT_INTERNAL_REPO_READ_WRITE }}
      run: '# netrc needs BOTH login and password entries

        printf "machine huggingface.co\nlogin hf\npassword ${HF_TOKEN}\n" >> ~/.netrc

        chmod 600 ~/.netrc

        '
    - name: Deploy method_comparison app to HF Spaces
      run: "cd method_comparison\ngit init\n# Spaces expect requirements.txt\nmv requirements-app.txt\
        \ requirements.txt\ngit config user.name \"github-actions[bot]\"\ngit config\
        \ user.email \"github-actions[bot]@users.noreply.github.com\"\ngit remote\
        \ add gradio-app https://huggingface.co/spaces/peft-internal-testing/PEFT-method-comparison\n\
        git add .\ngit commit -m \"\U0001F680 Deploy method comparison app from GH\
        \ action\"\ngit push -f gradio-app HEAD:main\n"
